.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #faa499;
  background-image: linear-gradient(
    319deg,
    #faa499 0%,
    #f7dd85 37%,
    #ffc55c 100%
  );
}

.page__section {
  max-width: 800px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  background-color: white;
}
